body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}
h1 {
    text-align: center;
}
.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.product span {
    font-size: 18px;
}
.product button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.product button:hover {
    background-color: #ddd;
}
form {
    margin-top: 20px;
}
form input, form button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}
form button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}
form button:hover {
    background-color: #218838;
}

.doce {
    width: 150px;
    height: 150px;
    border-radius: 45px;
}

